<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="selectField" translate="label" sortOrder="10">
            <label>Select Field</label>
        </tab>
        <section id="user_account_section" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>User Accont</label>
            <tab>selectField</tab>
            <resource>Dev_UserAccountField::config</resource>
            <group id="select_value" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>User Accont Configuration</label>
                <field id="show_frontend" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Show in Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="select_field" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Select Field Values</label>
                    <comment>Add many field with Comma-Separator(,)</comment>
                </field>
            </group>
        </section>
    </system>
</config>